@charset "UTF-8";

/* DECLARAÇÃO DE VARIÁVEIS NO CSS */
:root{
    --azul_1: #020d1f;
    --azul_2: #01172C;
    --enfase_1: #FFB236;
    
}

/* Utilizado para dar destaque */
.destaque{
    width: 3px;
    height: 29px;
    background-color: var(--enfase_1);
}

/* Utilizado para todos os titulos */
.title{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: white;
}

.banner_container{
    position: relative;
    display: flex;
    width: 100%;
    height: 380px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
}

.img_fundo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.card_container{
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.55);
    gap: 16px;
    color: #fff;
}

.poster img{
    width: 150px;
    height: 200px;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
}

.banner_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_info h1{
    font-size: 24px;
    margin: 0 0 5px;
}

.temporada, .generos{
    font-size: 13px;
    margin: 5px 0;
}

.generos{
    font: italic;
}

.rating span{
    font-size: 16px;
    color: gold;
    margin: 10px 0;
}

.descricao{
    font-size: 16px;
    color: #f0f0f0;
    text-align: justify;
    margin: 10px 0;
    line-height: 1.6;
}

.trailer_container{
    background-color: var(--azul_2);
    padding: 40px;
    text-align: center;
}


.trailer_container h2{
    color: #fff;
    margin-bottom: 20px;
}


.trailer_video{
    display: flex;
    justify-content: center;
    align-items: center;
}


.trailer_video iframe{
    width: 80%;
    height: 350px;
    border: none;
    border-radius: 10px;
}

/* Carrossel */
.carrossel{
    display: flex;
    flex-direction: column;
    gap:20px;

}

.carrossel--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrossel--text{
    gap:8px;
    margin-left: 1.7em;
    display: flex;
}

.subtitle{
    margin-right:1.7em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    text-decoration: none;
    color:var(--enfase_1);
}

.carrossel--main{
    overflow-x: auto;
    height: 200px;
    cursor: grab;
    user-select: none;
    scrollbar-width: none;
}

.carrossel-interno__episodios{
    margin-left: 2em;
    gap:30px;
    display: flex;
}

.carrossel--episodios{
    position: relative;
    color:white; 
    overflow: visible;       
}

.episode-card {
    margin-top: auto;
    background: #11263E;
    border-radius: 8px;
    width: 150px;
    height: 180px;
    overflow: hidden;
    font-size: 12px;
}

.episode-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.episode-card img {
    width: 100%;
    height: auto;
}

.episode-info {
    padding: 10px;
    text-align: center;
}

.rating {
    color: #FFD700;
    font-size: 12px;
    margin-top: 5px;
    
}

.carrossel-interno__atores{
    margin-left: 2em;
    gap:30px;
    display: flex;
}

.carrossel--atores{
    position: relative;
    color:white; 
    overflow: visible;       
}

.cast-card {
    text-align: center;
    background: #11263E;
    border-radius: 8px;
    width: 150px;
    overflow: hidden;
    font-size: 12px
}

.cast-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.cast-card img {
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin-bottom: 5px;
    width: 100%;
    height: auto;
}

.ratings-section {
    margin-top: 20px;
}

.ratings-summary {
    display: flex;
    align-items: center;
    gap: 20px;
}

.rating-score {
    text-align: center;
    font-size: 18px;
    color: #FFD700;
}

.rating-bars {
    flex: 1;
}

.rating-bars div {
    display: flex;
    align-items: center;
    margin: 2px 0;
}

.rating-bars span {
    width: 20px;
}

.bar {
    height: 8px;
    background-color: #3498db;
    border-radius: 4px;
    margin-left: 5px;
}

.rating-button {
    display: flex;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 14px;
}

.rating-button:hover {
    background-color: #2980b9;
}

/* Todos os episódios são visíveis em desktop */
.episode-card {
    background: #11263E;
    border-radius: 8px;
    width: 150px;
    overflow: hidden;
    font-size: 12px;
}

/* AJUSTES DE CONTEÚDO*/
/* Em telas menores*/
@media (max-width: 650px) {
    .trailer_video iframe{
        width: 90%;
        height: 250px;
        border: none;
        border-radius: 10px;
    }
    .banner_container {
        height: 420px;
    }
    .descricao{
        font-size: 14px;
        line-height: 1.6;
    }
}

/* Em telas muito pequenas*/
@media (max-width: 480px) {
    .trailer_video iframe{
        width: 90%;
        height: 150px;
        border: none;
        border-radius: 10px;
    }
    .banner_container {
        height: 400px;
    }
    .descricao{
        font-size: 14px;
        line-height: 1.4;
    }
    .poster img{
        width: 100px;
        height: 150px;
    }
    .banner_info h1{
        font-size: 18px;
    }
    .temporada, .generos, .rating span{
        font-size: 12px;
    }
}

@media (max-width: 407px) {
    .banner_container {
        height: 500px;
    }
    .descricao{
        font-size: 12px;
        line-height: 1.4;
    }
    .poster img{
        width: 80px;
        height: 120px;
    }
    .banner_info h1{
        font-size: 16px;
    }
    .temporada, .generos, .rating span{
        font-size: 10px;
    }
}


