<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Pipoca Flix</title>
</head>
<body>
    <header>
        <a  class="header__logo" href="#">LOGO</a>
        <div class="header__container">
            <i class="fa-solid fa-magnifying-glass header__lupa"></i>
            <i class="fa-solid fa-user header__login"></i>
            <i class="fa-solid fa-bars header__menu"></i>
        </div>
    </header>
    <main></main>
    <footer></footer>
    <script src="https://kit.fontawesome.com/e354a8dc68.js" crossorigin="anonymous" rel="preconnect"></script>
</body>
</html>