{% extends "base.html" %}

{% block title %} Página Inicial {% endblock %}

{% block content %}
    <section class="banner">
        <div class="banner__container">
            <button class="play-button">
                <div class="play-button__triangle"></div>
            </button>
            <img class="banner__img" src="../static/img/JurassicWorld.webp">
        </div>
        <div class="banner__description">
            <div class="banner__movie">
                <i class="fa-solid fa-bookmark banner__fav">
                    <div class="add">
                        <p>+</p>
                    </div>
                </i>
                <img class="banner__min-img" src="../static/img/min-Jurassic.jpg">
            </div>
            <div class="banner__caption">
                <div>
                    <p class="banner__title">Jurassic World: Rebirth</p>
                    <p class="banner__subtitle">Gareth Edwards</p>
                </div>
                <div class="banner__database">
                    <div class="banner__database-star">
                        <i class="fa-solid fa-star banner__star"></i>
                        <p class="banner__star-number">545</p>
                    </div>
                    <div class="banner__database-comments">
                        <i class="fa-solid fa-comments banner__comments"></i>
                        <p class="banner__comments-number">120</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}